body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #800080; /* Purple background */
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header a {
    margin: 0;
    font-size: 2.5em;
}

.main-text h2 {
    font-size: 2em;
    margin: 50px 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.image-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
